In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

In [12]:
mg = pd.read_csv("Data\\bom.movie_gross.csv")
mg.head(10)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [13]:
mg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [14]:
#Check for duplicates
mg.duplicated().sum()

0

In [15]:
#Check for missing values
mg.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [16]:
mg.isnull().mean() * 100

title              0.000000
studio             0.147623
domestic_gross     0.826690
foreign_gross     39.858282
year               0.000000
dtype: float64

In [17]:
# checking null values
mg.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

### Data Cleaning

In [18]:
#Drop unwanted columns & ignores the error if columns are not found
mg.drop(columns=['studio', 'year'], inplace=True, errors='ignore')


# Keep rows where both domestic and foreign gross are non-missing
mg_revenue = mg.dropna(subset=['domestic_gross', 'foreign_gross'])

#fix data type in foreign_gross
mg['foreign_gross'] = (
    mg['foreign_gross']
    .replace('[\$,]', '', regex=True)   # Remove $ and commas
    .replace('', np.nan)                # Replace empty strings with NaN
    .astype(float)                      # Convert to numbers
)

mg_revenue.shape  # check how many rows are left

(2009, 3)

In [20]:
mg.to_csv("Data\\cleaned_bom_movie_gross.csv", index=False)