In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'..\\Data\\rt.movie_info.tsv', sep='\t')
df

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [4]:
df.duplicated().value_counts()

False    1560
Name: count, dtype: int64

In [5]:
df.drop_duplicates()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [6]:
df.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [7]:
# Convert column names to lowercase, replace spaces with underscores, and strip extra whitespace

df.columns = (
    df.columns
    .str.strip()                # Remove spaces
    .str.lower()                # Convert to lowercase
    .str.replace(' ', '_')      # Replace spaces with underscores
)

In [8]:
# Convert strings like "104 minutes" → 104 (integer)

# Remove the word "minutes" and any surrounding spaces, then convert to numeric
df['runtime'] = (
    df['runtime']
    .astype(str)
    .str.replace('minutes', '', regex=False)
    .str.strip()
    .replace('', None)
)

# Convert to numeric (will turn non-convertible values into NaN)
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')

# Check the result
print("'runtime' column cleaned and converted to integer:")
print(df['runtime'].head(10))
print("\nNumber of missing runtime values:", df['runtime'].isna().sum())

'runtime' column cleaned and converted to integer:
0    104.0
1    108.0
2    116.0
3    128.0
4    200.0
5     95.0
6     82.0
7    123.0
8    117.0
9    108.0
Name: runtime, dtype: float64

Number of missing runtime values: 30

In [9]:
# Step 3: Clean and convert date columns
# Convert 'theater_date' and 'dvd_date' to datetime objects

date_columns = ['theater_date', 'dvd_date']

for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# Check conversion
print("Date columns converted to datetime:")
print(df[date_columns].dtypes)
print("\nSample of cleaned date columns:")
print(df[date_columns].head(10))

Date columns converted to datetime:
theater_date    datetime64[ns]
dvd_date        datetime64[ns]
dtype: object

Sample of cleaned date columns:
  theater_date   dvd_date
0   1971-10-09 2001-09-25
1   2012-08-17 2013-01-01
2   1996-09-13 2000-04-18
3   1994-12-09 1997-08-27
4          NaT        NaT
5   2000-03-03 2000-07-11
6   2002-01-11 2002-06-18
7   2006-04-27 2007-10-02
8   2010-06-30 2010-11-09
9   1995-06-09 1999-07-27

In [10]:
print(df.columns.tolist())

['id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio']

In [11]:
# Step 4: Clean and convert 'box_office' column
# Convert strings like "$600,000" → 600000 (float)

# First, combine 'currency' and 'box_office' if you want to preserve currency type
# (Optional — can be skipped if all are in dollars)
df['currency'] = df['currency'].fillna('$')

# Remove currency symbols, commas, and spaces, then convert to numeric
df['box_office'] = (
    df['box_office']
    .astype(str)
    .str.replace(r'[^0-9.]', '', regex=True)  # Keep only numbers and decimal points
    .replace('', None)
)

# Convert to float
df['box_office'] = pd.to_numeric(df['box_office'], errors='coerce')

# Check the result
print("✅ 'box_office' column cleaned and converted to numeric:")
print(df[['currency', 'box_office']].head(10))
print("\nNumber of missing box_office values:", df['box_office'].isna().sum())

✅ 'box_office' column cleaned and converted to numeric:
  currency  box_office
0        $         NaN
1        $    600000.0
2        $         NaN
3        $         NaN
4        $         NaN
5        $         NaN
6        $  41032915.0
7        $    224114.0
8        $    134904.0
9        $         NaN

Number of missing box_office values: 1220

In [12]:
df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,1971-10-09,2001-09-25,$,NaN,104.0,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,2012-08-17,2013-01-01,$,600000.0,108.0,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,1996-09-13,2000-04-18,$,NaN,116.0,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,1994-12-09,1997-08-27,$,NaN,128.0,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaT,NaT,$,NaN,200.0,NaN

In [13]:
df.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency           0
box_office      1220
runtime           30
studio          1066
dtype: int64

In [14]:
# Access the column
box_office_col = df['box_office']

# View the first few rows
print(box_office_col.head())

0         NaN
1    600000.0
2         NaN
3         NaN
4         NaN
Name: box_office, dtype: float64

In [15]:
# Fill missing values in 'box_office' and 'runtime' with the median of each column
df['box_office'] = pd.to_numeric(df['box_office'].astype(str).str.replace(r'[^0-9.]', '', regex=True), errors='coerce')
df['box_office'] = df['box_office'].fillna(df['box_office'].median())
df['runtime'] = df['runtime'].fillna(df['runtime'].median())

In [16]:
# Fill categorical columns with mode or placeholder
categorical_fill = {
    'synopsis': 'No synopsis',
    'rating': df['rating'].mode()[0],
    'genre': df['genre'].mode()[0],
    'director': 'Unknown'
}

for col, val in categorical_fill.items():
    df[col] = df[col].fillna(val)

In [17]:
# Fill numeric columns with median
numeric_cols = ['runtime']
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [18]:
# Fill date columns with median date
date_cols = ['theater_date', 'dvd_date']
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
    df[col] = df[col].fillna(df[col].median())

In [19]:
# Fill categorical columns with 'Unknown'
categorical_cols = ['director', 'writer', 'studio', 'genre']

for col in categorical_cols:
    df[col] = df[col].fillna('Unknown')

In [20]:
# Converts date columns to datetime
date_cols = ['theater_date', 'dvd_date']

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')
    df[col] = df[col].fillna(df[col].median())  # median date

In [21]:
#remove currency symbols, commas, and spaces
df['box_office'] = df['box_office'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df['box_office'] = pd.to_numeric(df['box_office'], errors='coerce')

In [22]:
# Check final missing values
print(df.isnull().sum())

id              0
synopsis        0
rating          0
genre           0
director        0
writer          0
theater_date    0
dvd_date        0
currency        0
box_office      0
runtime         0
studio          0
dtype: int64

In [23]:
df.duplicated().value_counts()

False    1560
Name: count, dtype: int64

In [24]:
# Save cleaned dataset to TSV
df_cleaned = df.copy()
df_cleaned.to_csv('cleaned_dataset.tsv', sep='\t', index=False)

In [25]:
df_cleaned = pd.read_csv('cleaned_dataset.tsv', sep='\t')
df_cleaned.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,1971-10-09,2001-09-25,$,14141054.5,104.0,Unknown
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,2012-08-17,2013-01-01,$,600000.0,108.0,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,1996-09-13,2000-04-18,$,14141054.5,116.0,Unknown
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,1994-12-09,1997-08-27,$,14141054.5,128.0,Unknown
4,7,No synopsis,NR,Drama|Romance,Rodney Bennett,Giles Cooper,1997-01-01,2004-06-01,$,14141054.5,200.0,Unknown